<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.taracamp.familyplan">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <!-- [START fcm_default_icon] -->
        <!--
             Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/chat"/>
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent"/>
        <!-- [END fcm_default_icon] -->
        <!-- [START fcm_default_channel] -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id"/>
        <!-- [END fcm_default_channel] -->

        <receiver android:name=".Notifications.AppBroadcast">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.INPUT_METHOD_CHANGED"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".Account.AccountActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".transparentActivity"
            android:theme="@style/Theme.Transparent"/>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"/>
        <activity
            android:name=".Task.TaskAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".Task.TasksActivity"
            android:label="@string/title_item_list"
            android:theme="@style/MyMaterialTheme">
        </activity>
        <activity
            android:name=".Task.Details.TaskDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity android:name=".Calendar.CalendarActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Calendar.EventAddActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Calendar.EventsActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Calendar.EventDetailActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
        </activity>

        <service android:name=".Services.FamilyPlanFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name=".Services.FamilyPlanFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <activity android:name=".Account.family.FamilyMemberAccountActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Account.notification.NotificationActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Family.FamilyActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Login.LoginActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Login.RegisterActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Account.profile.EditProfileActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Task.detail.TaskActivity"
                  android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                  android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>